body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

section {
  margin: 0 16px;
}

section.full-screen {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  height: 52px;
  border-bottom: 2px solid #222222;
}

nav > ul {
  margin-left: auto;
  margin-right: 16px;
}

nav > ul > li {
  display: inline-block;
}

nav > span > img {
  height: 32px;
  width: auto;
  padding: 8px;
}

nav > span {
  display: flex;
  align-items: center;
}

#header {
  text-align: center;
  color: white;
  background-color: #222222;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header h1 {
  margin: 16px;
}

#header p {
  margin: 0;
}

img {
  width: 100%;
}

h2 {
  text-align: center;
}

#penguin-facts .flex-container figure {
  text-align: center;
}

#penguin-facts .flex-container img {
  height: 240px;
  width: auto;
}

#penguin-photos .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  grid-auto-rows: 240px 240px 240px;
}

#penguin-photos .grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container #item-1 {
  grid-column: 1 / 2 span;
  grid-row: 1;
}

fieldset {
  margin: 16px 0;
  border-radius: 4px;
}

input[type="text" i],
input[type="email" i] {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  display: block;
}

#form-section {
  background-color: #333333;
  color: white;
  padding: 8px;
  margin-top: 16px;
}

#form-section form {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"] {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  padding: 16px 32px;
  font-size: 18px;
}

/* for tablet and desktop */
@media only screen and (min-width: 768px) {
  #penguin-facts > .flex-container {
    display: flex;
    align-items: center;
  }

  #penguin-facts > .flex-container figure {
    margin-left: auto;
  }

  #penguin-facts > .flex-container figure img {
    height: 400px;
  }

  #penguin-facts > .flex-container figcaption {
    text-align: center;
    margin-top: 16px;
  }

  #penguin-facts > .flex-container.row-reverse {
    flex-direction: row-reverse;
  }

  #penguin-facts > .flex-container.row-reverse p {
    margin-left: 32px;
  }

  #penguin-facts > .flex-container.row-reverse figure {
    margin-left: 40px;
    min-width: 320px;
  }

  iframe {
    max-width: 480px;
  }

  #penguin-photos .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    grid-auto-rows: 320px 320px;
  }

  #penguin-photos .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid-container #item-1 {
    grid-column: 1;
    grid-row: 1 / 2 span;
  }

  .grid-container #item-2 {
    grid-row: 1;
    grid-column: 2 / 3 span;
  }
}
